.titleDiv {
    background-image: url("/backgrounds/homm3box.png");
    border-radius: 5px;
    border: 2px solid gold;
    border-style: outset;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleDiv p {
    color: white;
}
